<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokemonAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0299ABEB27D2C066006C8D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0299AC0127D2C069006C8D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0299AC0B27D2C069006C8D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
